@font-face {
  src: url('./fonts/TimesNewRoman.ttf');
  font-family: 'Times New Roman';
}
body {
  font-family: "Roboto", sans-serif;
}
h1 {
  margin: 0;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container {
  width: 100%;
  height: 100%;
  max-width: 1136px;
  margin: 0 auto;
  background-color: #454545;
  color: white;
  padding-top: 22px;
  padding-left: 35px;
  padding-right: 35px;
  padding-bottom: 30px;
}
.wrapper {
  max-width: 50%;
}
.title {
  text-align: center;
  margin-bottom: 30px;
  margin-right: 12px;
  font-size: 24px;
  font-weight: normal;
}
.balance {
  font-size: 22px;
}
.holdem {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 3px;
  background-color: #2a2a2a;
  margin-bottom: 16px;
  padding: 5px 10px;
  margin-right: 9px;
}
.holdem__img {
  width: 48px;
  height: 48px;
  margin-right: 16px;
  margin-left: 2px;
}
.bet__group {
  margin-top: 20px;
  display: flex;
}
.container__group {
  display: flex;
  padding-bottom: 10px;
}
.controls {
  display: flex;
  justify-content: center;
  margin-top: 13px;
  align-items: center;
}
.holdem__status {
  font-size: 22px;
  line-height: 28px;
}
.bet__slider {
  width: 100%;
  margin-left: 20px;
  display: flex;
  align-items: center;
}
.bet__slider::before {
  content: url("./img/minus.png");
}
.bet__slider::after {
  content: url("./img/plus.png");
  margin-top: 5px;
}
.input {
  height: 44px;
  max-width: 120px;
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 8px;
  background-color: #ffffff;
  padding: 6px 10px;
  outline: none;
  box-shadow: inset 0px 2px 0px rgba(255, 255, 255, 0.9);
}
.bet__input {
  text-align: right;
  line-height: 24px;
  font-size: 24px;
}
.range-slider {
  max-width: 240px;
  width: 100%;
  height: 6px;
  box-shadow: 0px 2px 0px rgba(255, 255, 255, 0.19), inset 0px 2px 0px black;
  background-color: rgba(255, 255, 255, 0.1);
  appearance: none;
  outline: none;
  margin-right: 18px;
  margin-left: 20px;
  margin-top: 2px;
  border-radius: 8px;
}

.range-slider::-webkit-slider-thumb {
  border-radius: 18px;
  -webkit-appearance: none;
          appearance: none;
  width: 35px;
  height: 35px;
  background-image: url("./img/thumb.png");
  background-position: center;
  -webkit-box-shadow: 0px 0px 4px rgba(255, 255, 255, 0.4),
    0px 2px 0px rgba(0, 0, 0, 0.71);
          box-shadow: 0px 0px 4px rgba(255, 255, 255, 0.4),
    0px 2px 0px rgba(0, 0, 0, 0.71);
}

.range-slider::-moz-range-thumb {
  border-radius: 18px;
  -webkit-appearance: none;
          appearance: none;
  width: 35px;
  height: 35px;
  background-image: url("./img/thumb.png");
  background-position: center;
  -webkit-box-shadow: 0px 0px 4px rgba(255, 255, 255, 0.4),
    0px 2px 0px rgba(0, 0, 0, 0.71);
          box-shadow: 0px 0px 4px rgba(255, 255, 255, 0.4),
    0px 2px 0px rgba(0, 0, 0, 0.71);
}

.button {
  height: 51px;
  border-radius: 13px;
  background-color: #2f2f2f;
  box-shadow: 0px -2px 1.5px 0px rgba(255, 255, 255, 0.1),
    0px 2px 5px 0px rgba(0, 0, 0);
  color: white;
  outline: none;
  border: none;
  font-size: 24px;
  line-height: 17px;
  cursor: pointer;
}
.button:active {
  box-shadow: 0px 2px 5px rgba(0, 0, 0);
  background: linear-gradient(180deg, #000000 0%, rgba(47,47,47,0) 100%);
}
.bet__controls {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.bet__button {
  max-width: 109px;
  width: 100%;
  margin-top: 30px;
}
.bet__message {
  margin-bottom: 20px;

  font-size: 20px;
}
.settings__auto {
  padding-bottom: 10px;
  padding-top: 13px;
  position: relative;
  margin-bottom: 4px;
}
.settings__message {
  font-size: 20px;
  margin-bottom: 15px;
}
.settings__checkbox > input {
  appearance: none;
  position: absolute;
}
.settings__checkbox {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  font-size: 24px;
  line-height: 17px;
}
.settings__field_margin {
  margin-bottom: 10px;
}
.checkmark {
  height: 36px;
  width: 36px;
  position: relative;
  background-color: white;
  display: block;
  border-radius: 9px;
  margin-right: 28px;
  margin-bottom: 4px;
  box-shadow: 0px 0px 4px rgba(255, 255, 255, 0.9);
  cursor: pointer;
}
.checkmark::after {
  content: url("./img/check.png");
  position: absolute;
  opacity: 0;
  height: 36px;
  width: 36px;
  padding: 8px 2px 3px 2px;
  box-sizing: border-box;
  bottom: 3px;
  right: 1px;
}
.checkbox__input:checked ~ .checkmark::after {
  opacity: 1;
}
.button_arrow {
  width: 100%;
  text-align: left;
  position: relative;
  padding-left: 28px;
}
.button_arrow::before {
  content: url("./img/arrow-right.png");
  position: absolute;
  right: 22px;
  top: 50%;
  transform: translateY(-50%);
}
.button_arrow::after {
  content: url("./img/arrow-right.png");
  position: absolute;
  right: 29px;
  top: 50%;
  transform: translateY(-50%);
}
.section__left {
  padding-left: 32px;
  padding-right: 41px;
}
.section__right {
  padding-left: 41px;
  padding-right: 40px;
  padding-top: 20px;
  position: relative;
}
.section__right::before {
  content: '';
  width: 1px;
  left: -2px;
  top: 24px;
  bottom: 14px;
  position: absolute;
  background-color: rgba(0,0,0,0.8);
  box-shadow: 1px 0px 1px rgb(255, 255, 255, 10%);
}
.settings__input {
  max-width: 85px;
  border: none;
}

.info {
  outline: none;
  display: block;
  width: 48px;
  height: 48px;
  border-radius: 24px;
  position: relative;
  margin-left: 20px;
  margin-top: 1px;
}
.info::after {
  content: "i";
  left: 50%;
  top: 50%;
  position: absolute;
  font-size: 40px;
  color: #ffffff;
  font-weight: bold;
  font-style: italic;
  font-family: "Times New Roman";
  transform: translate(-50%, -50%);
}
.settings__group {
  padding-bottom: 19px;
}
.settings__field {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 22px;
  line-height: 22px;
}
.settings__field > label {
  text-align: right;
}
.settings__input {
  margin: 0 8px;
}
.settings__auto::before {
  content: '';
  height: 1px;
  left: 0;
  right: -1px;
  top: -1px;
  position: absolute;
  background-color: rgba(0,0,0,0.8);
  box-shadow: 0px 1px 1px rgb(255, 255, 255, 10%);
}
.settings__auto::after {
  content: '';
  height: 1px;
  left: 0;
  right: 0;
  bottom: 7px;
  position: absolute;
  background-color: rgba(0,0,0,0.8);
  box-shadow: 0px 1px 1px rgb(255, 255, 255, 10%);
}
.label-text_small {
  font-size: 20px;
  line-height: 1.3;
}
.system__button {
  margin-left: 8px;
  min-width: 147px;
}
